body {
  background-color: #1b1a1a;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: #5ad46c;
  width: 300px;
  padding: 30px;
  border-radius: 10px;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
input {
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin-bottom: 10px;
}
form {
  display: flex;
  flex-direction: column;
}
button {
  background-color: #cdab62;
  border-radius: 20px;
  padding: 8px;
  color: #000000;
  font-size: medium;
  font-weight: bold;
  margin-top: 8px;
}
button:hover {
  background-color: #e69e24;
}
